/* -----------------------------
   ESTILOS GENERALES
------------------------------ */
.root {
    -fx-font-family: "Arial";
    -fx-background-color: #f7f7f7;
}

/* -----------------------------
   BOTONES
------------------------------ */
.button {
    -fx-background-color: #ff5757;
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-font-size: 16px;
    -fx-background-radius: 20;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 2);
}

.button:hover {
    -fx-background-color: #ff2f2f;
}

.button:pressed {
    -fx-background-color: #cc2424;
}

/* -----------------------------
   TITULOS
------------------------------ */
.label-title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #d62828;
}

.label-subtitle {
    -fx-font-size: 20px;
    -fx-text-fill: #333;
}

/* -----------------------------
   BOTIQUIN
------------------------------ */
.botiquin {
    -fx-background-color: #ff4d4d;
    -fx-border-color: white;
    -fx-border-width: 5;
    -fx-background-radius: 35;
    -fx-border-radius: 35;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 15, 0, 0, 3);
}

.cruz-botiquin {
    -fx-text-fill: white;
    -fx-font-size: 65px;
    -fx-font-weight: bold;
}

/* -----------------------------
   GRID DE OBJETOS
------------------------------ */
.objeto-grid {
    -fx-padding: 15;
}

/* -----------------------------
   MENSAJES POPUP
------------------------------ */
.popup {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.30), 15, 0, 0, 3);
}